.title {
  margin: 0px;
  border: 0px;
  padding: 0px;
  width: 100vw;
  display: flex;
  justify-content: center;
  font-family: geoSansLight;
  padding-top: 10px;
  padding-bottom: 10px;
  background: rgba(80, 89, 96, 0.5); }

.title h3 {
  margin: 0px;
  border: 0px;
  padding: 0px; }

.container {
  margin: 0px;
  border: 0px;
  padding: 0px;
  width: 100vw; }

.mapContainer {
  margin: 0px;
  border: 0px;
  padding: 0px;
  width: 100vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-bottom: 18px; }

.mapLarge {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

.description {
  margin: 0px;
  border: 0px;
  padding: 0px;
  display: flex;
  justify-content: center; }

p {
  font-size: 20px;
  font-family: geoSansLight; }

body {
  margin: 0px;
  border: 0px;
  padding: 0px;
  background-image: url("../images/sun.jpg");
  background-position: top;
  background-size: cover; }

.loader,
.loader:before,
.loader:after {
  background: #505960;
  -webkit-animation: load1 1s infinite ease-in-out;
  animation: load1 1s infinite ease-in-out;
  width: 1em;
  height: 4em; }

.loader:before,
.loader:after {
  position: absolute;
  top: 0;
  content: ''; }

.loader:before {
  left: -1.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s; }

.loader {
  text-indent: -9999em;
  margin: 88px auto;
  position: relative;
  font-size: 11px;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s; }

.loader:after {
  left: 1.5em; }

@-webkit-keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0 #505960;
    height: 4em; }
  40% {
    box-shadow: 0 -2em #505960;
    height: 5em; } }

@keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0 #505960;
    height: 4em; }
  40% {
    box-shadow: 0 -2em #505960;
    height: 5em; } }

.pu {
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh; }

.puContainer {
  width: 50vw;
  height: 50vh;
  background: rgba(255, 255, 255, 0.8);
  border: 5px solid rgba(0, 0, 0, 0.8);
  border-radius: 50px;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: column;
  font-family: geosanslight;
  overflow: scroll;
  min-width: 415px;
  min-height: 250px; }

.puTitle h3 {
  font-size: 50px;
  margin: 0px;
  border: 0px;
  padding: 0px; }

.puInner {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  font-size: 20px; }

#puList {
  margin: 0px;
  border: 0px;
  padding: 0px;
  list-style-type: none;
  list-style-position: inside; }

.puClose {
  vertical-align: bottom; }

.puCenter {
  text-align: center; }

#puStyle {
  margin-bottom: 40px; }

.rowRemove {
  border-bottom: 1px solid black; }

.info {
  margin: 0px;
  border: 0px;
  padding: 0px;
  width: 100vw;
  display: flex;
  justify-content: center;
  background: rgba(80, 89, 96, 0.5);
  position: fixed;
  bottom: 0px; }

.info h3 {
  margin: 0px;
  border: 0px;
  padding: 0px;
  font-family: geosanslight;
  color: black;
  padding: 22px; }

.info h3:hover {
  background: #4670a1; }

.info h3:active {
  background: #4670a1; }

.info a {
  text-decoration: none; }

.infoHead:hover {
  background: #DC9D39; }

.infoHead:active {
  background: #DC9D39; }

table {
  width: 350px;
  font-size: 20px; }

.table-wrapper {
  height: 350px;
  width: 350px;
  overflow: scroll;
  position: relative; }

td {
  border-bottom: 1px solid #ddd; }

#col-1 {
  width: 75%; }

.tableDiv {
  margin-top: 15px; }

.headCenter {
  text-align: center; }

#natHidden {
  font-family: geosanslight;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 50px;
  background: rgba(70, 112, 161, 0.5); }

.natContainer {
  display: flex; }

.natCont {
  display: flex;
  flex-flow: column;
  font-size: 20px; }

.natCont h3 {
  margin: 0px;
  border: 0px;
  padding: 0px;
  font-weight: bold;
  text-align: center; }

.natCont h4 {
  margin: 0px;
  border: 0px;
  padding: 0px;
  font-weight: 300;
  text-align: center; }

#natSide {
  display: flex;
  flex-direction: column;
  height: 380px;
  justify-content: space-around;
  margin-top: 15px; }

.natTable {
  width: 500px; }

.natTbWrapper {
  height: 350px;
  width: 500px;
  overflow: scroll;
  position: relative; }

#nat-col-1 {
  width: 15%; }

.nat-col-2 {
  width: 30%; }

.nat-col-3 {
  width: 25%; }

hr {
  width: 60%; }

.infoHead {
  background: #4670a1;
  text-align: left; }

.infoHead a {
  text-decoration: none;
  color: black; }

#siteHidden {
  font-family: geosanslight;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(70, 112, 161, 0.5);
  padding-bottom: 50px; }

.siteContainer {
  width: 700px;
  display: flex;
  flex-direction: row; }

.siteCont {
  margin-top: 15px;
  padding-left: 15px;
  justify-content: center;
  flex-flow: column;
  align-items: center; }

#whyHidden {
  font-family: geosanslight;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(70, 112, 161, 0.5);
  padding-bottom: 50px; }

.whyContainer {
  margin-top: 15px;
  width: 700px;
  display: flex;
  align-items: center; }

#ie_widget {
  width: 700px; }

.eia-visualization {
  font-family: geosanslight; }

@media only screen and (min-width: 700px) {
  .title h3 {
    font-size: 50px; }
  .info h3 {
    font-size: 30px; }
  .natContainer {
    width: 700px; } }

@media only screen and (max-width: 700px) {
  .title h3 {
    font-size: 40px; }
  .info h3 {
    font-size: 20px; }
  .natContainer {
    width: 480px;
    display: flex;
    align-items: center;
    flex-direction: column; }
  #natSide {
    display: flex;
    flex-direction: row;
    height: auto;
    font-size: 15px;
    width: 480px; }
  hr {
    width: auto;
    height: auto; }
  .natCont {
    font-size: 15px;
    display: flex;
    flex-direction: column;
    width: 33%; }
  .natTable {
    width: 480px;
    font-size: 15px; }
  .tableDiv {
    font-size: 15px; }
  .siteContainer {
    width: 480px;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    align-items: center; } }

@media only screen and (max-width: 320px) {
  .title h3 {
    font-size: 30px; }
  .info h3 {
    font-size: 15px; }
  .natContainer {
    width: 3200px;
    display: flex;
    align-items: center;
    flex-direction: column; }
  #natSide {
    display: flex;
    flex-direction: row;
    height: auto;
    font-size: 12px;
    width: 3200px; }
  hr {
    width: auto;
    height: auto; }
  .natCont {
    font-size: 12px;
    display: flex;
    flex-direction: column;
    width: 33%; }
  .natTable {
    width: 320px;
    font-size: 12px; }
  .tableDiv {
    font-size: 12px; }
  .siteContainer {
    width: 4320px;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    align-items: center; } }
