.title {
  @include zerombp(0px);
  width: 100vw;
  display: flex;
  justify-content: center;
  font-family: geoSansLight;
  font-size: 50px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.title h3 {
  @include zerombp(0px);
}

.container {
  @include zerombp(0px);
  width: 100vw;
}

.mapContainer {
  @include zerombp(0px);
  width: 100vw;
  display: flex;
  justify-content: center;
  background: rgb(59, 59, 59);
  padding-top: 25px;
}

body {
  @include zerombp(0px);
  background-image: url('../images/sun.jpg');
  background-position: top;
  background-size: cover;
}
