.info {
  @include zerombp(0px);
  width: 100vw;
  display: flex;
  justify-content: center;
  background: rgba(80, 89, 96, 0.5);
  position: fixed;
  bottom: 0px;
}

.info h3 {
  @include zerombp(0px);
  font-family: geosanslight;
  font-size: 30px;
  color: black;
  padding: 22px;
}

.info h3:hover {
  background: rgb(70, 112, 161);
}

.info h3:active {
  background: rgb(70, 112, 161);
}

.info a {
  text-decoration: none;
}

#whyHidden {
  font-family: geosanslight;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(70, 112, 161, 0.5);
  padding-bottom: 50px;
}

#whyHidden ul {
  list-style-type: none;
}

#natHidden {
  font-family: geosanslight;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(70, 112, 161, 0.5);
  padding-bottom: 50px;
}

.natContainer {
  width: 700px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.natCont {
  display: flex;
  justify-content: center;
  flex-flow: column;
  align-items: center;
}

#siteHidden {
  font-family: geosanslight;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(70, 112, 161, 0.5);
  padding-bottom: 50px;
}

.siteContainer {
  width: 700px;
  display: flex;
  flex-direction: row;
}

.siteCont {
  margin-top: 15px;
  padding-left: 15px;
  justify-content: center;
  flex-flow: column;
  align-items: center;
}

.siteHead {
  background: rgb(70, 112, 161);
  text-align: left;
}

table {
  width: 350px;
  font-size: 20px;
}

.table-wrapper {
  height: 350px;
  width: 350px;
  overflow: scroll;
  position: relative;
}

.natTbWrapper {
  height: 350px;
  width: 500px;
  overflow: scroll;
  position: relative;
}

.natTable {
  width: 500px;
}

td {
  border-bottom: 1px solid #ddd;
}

#col-1{
  width: 75%;
}

.tableDiv {
  margin-top: 15px;
}

#natSide {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
