.info {
  @include zerombp(0px);
  width: 100vw;
  display: flex;
  justify-content: center;
  background: rgba(80, 89, 96, 0.5);
  position: fixed;
  bottom: 0px;
}

.info h3 {
  @include zerombp(0px);
  font-family: geosanslight;
  font-size: 30px;
  color: black;
  padding: 22px;
}

.info h3:hover {
  background: rgb(70, 112, 161);
}

.info h3:active {
  background: rgb(70, 112, 161);
}

.info a {
  text-decoration: none;
}

table {
  width: 350px;
  font-size: 20px;
}

.table-wrapper {
  height: 350px;
  width: 350px;
  overflow: scroll;
  position: relative;
}

td {
  border-bottom: 1px solid #ddd;
}

#col-1{
  width: 75%;
}

.tableDiv {
  margin-top: 15px;
}

.headCenter {
  text-align: center;
}
