.pu {
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
}

.puContainer {
  width: 50vw;
  height: 50vh;
  background: rgba(255, 255, 255, 0.8);
  border: 5px solid rgba(0, 0, 0, 0.8);
  border-radius: 50px;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: column;
  font-family: geosanslight;
  overflow: scroll;
  min-width: 415px;
  min-height: 250px;
}

.puTitle h3 {
  font-size: 50px;
  @include zerombp(0px);
}

.puInner {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  font-size: 20px;
}

#puList {
  @include zerombp(0px);
  list-style-type: none;
  list-style-position: inside;
}

.puClose {
  vertical-align: bottom;
}

.puCenter {
  text-align: center;
}

#puStyle {
  margin-bottom: 40px;
}

.rowRemove {
  border-bottom: 1px solid black;
}
